/**
 * Typography and colors
 */

$window-background-color: #a4a4a4;

$body-header-color: #0faded;
$header-fonts: Helvetica, sans-serif;

$body-font-color: #222222;
$body-fonts: Helvetica,sans-serif;

/**
 * Header
 */

$logo-image-width: 56px;
$logo-image-height: 56px;
$logo-padding-top: 33px;
$logo-padding-bottom: 23px;

$logo-image-width-lg: 90px;
$logo-image-height-lg: 90px;
