/**
 * Typography and colors
 */

$window-background-color: #a4a4a4;

$body-header-color: #0faded;
$header-fonts: Helvetica, sans-serif;

$body-font-color: #222222;
$body-fonts: Helvetica,sans-serif;
$body-font-size: 15px;

/**
 * Header
 */

$logo-image-width: 96px;
$logo-image-height: 96px;

$logo-image-width-lg: 128px;
$logo-image-height-lg: 128px;
