@import 'settings';

/**
 * Button
 */

.mixin-button table {
    Margin: 0px auto;
}

.mixin-button td td {
    background-color: $button-background;
    border: none;
    border-radius: 5px;
}

.mixin-button a {
    background-color: $button-background;
    border-top: 1px solid $button-background;
    border-left: 1px solid $button-background;
    border-right: 1px solid $button-background;
    border-bottom: 4px solid $button-shadow;
    border-radius: 5px;
    color: #FFFFFF;
    display: inline-block;
    font-family: sans-serif;
    padding: 12px 20px;
    text-decoration: none;
}
