include ./layout.mixins.jade
doctype transitional
html(lang="en", xmlns="http://www.w3.org/1999/xhtml", xml:lang="en")
    head
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        meta(name="viewport", content="width=device-width")
        +ifNotMso: meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title
        block head
    body
        div.preheader
            block preheader
        center.wrapper
            div.webkit
                block content
